@import "tailwindcss";

html, body, #root { height: 100%; }
body { margin: 0; background-color: #0b0b10; }
html, body, #root {
  height: 100%;
  background: #0b0b10; /* dark */
  color: #fff;          /* light text */
}